<br><center><h3>All Order</h3></center><br>


<ul>
   
    <% @orders.each do |m| %>
        <ul>
         <p><a href="/orders/<%= m.id %>">
                
               <p> <li><%= m.item %></li></p>
                
            </a></p>
        </ul>
    <% end %>
   
    <a href="/orders/new" class="button">Add Items</a>
</ul>
