<form action="/orders" method="POST">
    <input type="text" name="order[address]" placeholder="address"><br>

    <input type="text" name="order[item]" placeholder="item"><br>

    <textarea name="order[item_price]" placeholder="item price"></textarea><br>

    <input type="text" name="order[total]" placeholder="total"><br>

    <input type="text" name="orders[quantity]" placeholder="rating"><br>

    <input type="submit" value="Create Order">
</form>