<br><form action="/orders" method="POST">
    <input type="text" name="order[address]" placeholder="address"><br>

    <input type="text" name="order[item]" placeholder="item"><br>

    <input type="text" name="order[item_price]" placeholder="item price"><br>

    <input type="text" name="order[quantity]" placeholder="quantity"><br>

    <input type="text" name="order[total]" placeholder="total"><br>

    <input type="submit" value="Create Order">

</form>