      
<div>
    <h3>We deliver all the essential and non-essential goods to your home with FREE SHIPPING. You can trust that we take the upmost care in delivering your items with all the safety precautions as advised by the CDC. Happy shopping!</h3><br>

    <h4>Please sign up or log in to start an order!</h4><br>

</div>
    